openapi: 3.2.0
info:
  title: SADVR REST API (Vitrine-) Recherche API
  summary: Université de Montréal's own research-expertise and research-unit API.
  description: REST API of the Service d'accès aux données de la Vitrine-Recherche (SADVR), built and operated by Université de Montréal's Centre d'expertise numérique pour la recherche (CEN-R) to redistribute the data held in the Vitrine-Recherche repository.
  version: '1.8'
  contact:
    name: Centre d'expertise numérique pour la recherche (CEN-R), Université de Montréal
    url: https://wiki.umontreal.ca/spaces/DOC/pages/294781211/API+REST+%E2%80%93+Description+technique
  x-operator: institution
  x-operator-evidence: servers[] and every documented route are under recherche.umontreal.ca, the institution's own registrable domain; the API was developed in-house by the CEN-R under the SADVR project (2015-2016) and is documented on the institution's own wiki.
  x-provenance:
    generated: '2026-08-30'
    method: derived
    source: https://wiki.umontreal.ca/spaces/DOC/pages/294781211/API+REST+%E2%80%93+Description+technique
    confirmed_by: live probes of 15 documented routes on 2026-08-30, all returning 200 application/json
    authored_by: API Evangelist — NOT published by Université de Montréal
servers:
- url: https://www.recherche.umontreal.ca/vitrine/rest/api/1.8/umontreal
  description: Documented production base. Requests are 301-redirected to the /vitrine/rest/public/api/1.8/ form; clients must follow redirects. The trailing /umontreal/ path segment is a tenancy slot the CEN-R reserved so the same API could later serve other Québec universities.
security: []
tags:
- name: Recherche
  description: SOLR-backed search across the Vitrine-Recherche showcases.
paths:
  /recherche/professeur/select:
    get:
      tags:
      - Recherche
      operationId: searchProfesseurs
      summary: Search the Vitrine des professeurs SOLR index
      parameters:
      - $ref: '#/components/parameters/solrQ'
      - $ref: '#/components/parameters/solrStart'
      - $ref: '#/components/parameters/solrRows'
      - $ref: '#/components/parameters/solrSort'
      responses:
        '200':
          description: Paginated SOLR result set, reformatted to the /idext/individu record shape.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolrIndividuEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
  /recherche/uniterech/select:
    get:
      tags:
      - Recherche
      operationId: searchUnitesRecherche
      summary: Search the Vitrine des unités de recherche SOLR index
      parameters:
      - $ref: '#/components/parameters/solrQ'
      - $ref: '#/components/parameters/solrStart'
      - $ref: '#/components/parameters/solrRows'
      - $ref: '#/components/parameters/solrSort'
      responses:
        '200':
          description: Paginated SOLR result set, reformatted to the /id/uniterech record shape.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolrUniteRechercheEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
  /recherche/expertmedia/select:
    get:
      tags:
      - Recherche
      operationId: searchExpertsMedia
      summary: Search the Répertoire des experts à l'intention des médias SOLR index
      parameters:
      - $ref: '#/components/parameters/solrQ'
      - $ref: '#/components/parameters/solrStart'
      - $ref: '#/components/parameters/solrRows'
      - $ref: '#/components/parameters/solrSort'
      responses:
        '200':
          description: Paginated SOLR result set of media experts, in the /idext/individu record shape.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolrIndividuEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  schemas:
    Affiliation:
      type: object
      properties:
        fonction:
          type: object
          properties:
            codeSad:
              type: string
            nom:
              type: string
        uniteAdministrative:
          type: object
          properties:
            codeSad:
              type: string
            nom:
              type: string
        departement:
          type: object
          properties:
            codeSad:
              type: string
            nom:
              type: string
        faculte:
          type: object
          properties:
            codeSad:
              type: string
            nom:
              type: string
        courrielInstitutionnel:
          type: string
          format: email
        telephone:
          type: object
          properties:
            numero:
              type:
              - string
              - 'null'
            poste:
              type:
              - string
              - 'null'
        immeuble:
          type:
          - string
          - 'null'
        local:
          type:
          - string
          - 'null'
        exclusion:
          type: string
        exclusionTel:
          type: string
    Expertise:
      type: object
      properties:
        secteursRecherche:
          type: array
          items:
            $ref: '#/components/schemas/TermeClasse'
        disciplines:
          type: array
          items:
            $ref: '#/components/schemas/TermeClasse'
        motsCles:
          type: array
          items:
            $ref: '#/components/schemas/MotCle'
        pays:
          type: array
          items:
            $ref: '#/components/schemas/TermeClasse'
        continents:
          type: array
          items:
            $ref: '#/components/schemas/TermeClasse'
        periodesChronologiques:
          type: array
          items:
            $ref: '#/components/schemas/TermeClasse'
        phraseCle:
          type: array
          items:
            type: object
            properties:
              codeLangue:
                type: string
              contenu:
                type: string
    MotCle:
      allOf:
      - $ref: '#/components/schemas/TermeClasse'
      - type: object
        properties:
          departement:
            type:
            - string
            - 'null'
          departementCodeSAD:
            type:
            - string
            - 'null'
          faculte:
            type:
            - string
            - 'null'
          faculteCodeSAD:
            type:
            - string
            - 'null'
          uniteRecherche:
            type:
            - string
            - 'null'
          uniteRechercheIdsadvr:
            type:
            - string
            - 'null'
    TermeClasse:
      type: object
      properties:
        uid:
          type: string
        codeLangue:
          type: string
          enum:
          - fre
          - eng
        nom:
          type: string
        ordre:
          type: string
    PaginationSolr:
      type: object
      properties:
        numFound:
          type: integer
        start:
          type: integer
        rows:
          type: integer
    SolrUniteRechercheEnvelope:
      type: object
      properties:
        paginationSOLR:
          $ref: '#/components/schemas/PaginationSolr'
        data:
          type: array
          items:
            $ref: '#/components/schemas/UniteRecherche'
    IndividuEtendu:
      type: object
      description: Extended record for a person. CONTAINS PERSONAL DATA — name, affiliations, institutional email and telephone numbers.
      properties:
        idsadvr:
          type: string
        prenom:
          type: string
        nom:
          type: string
        affiliations:
          type: array
          items:
            $ref: '#/components/schemas/Affiliation'
        courriels:
          type: array
          items:
            type: string
        telephones:
          type: array
          items:
            type: object
            properties:
              numero:
                type: string
              poste:
                type:
                - string
                - 'null'
              categorie:
                type: string
        etablissementsAffilies:
          type: array
          items:
            type: string
        visuelOfficiel:
          type:
          - string
          - 'null'
          format: uri
        visuelOfficielGrand:
          type:
          - string
          - 'null'
          format: uri
        expertise:
          $ref: '#/components/schemas/Expertise'
        urlVitrine:
          type: array
          items:
            type: object
            properties:
              nom:
                type: string
              url:
                type: string
                format: uri
        recrutementRecherche:
          type: boolean
    UniteRecherche:
      type: object
      description: A UdeM research unit — chair, group, centre or affiliated research structure.
      properties:
        idsadvr:
          type: string
          example: ur13580
        nom:
          type: string
        acronyme:
          type:
          - string
          - 'null'
        type:
          type: string
        typeTrad:
          type: array
          items:
            $ref: '#/components/schemas/TermeClasse'
        responsable:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              nom:
                type: string
              prenom:
                type: string
              courriel:
                type: string
                format: email
              fonction:
                type: string
              fonctionCodeSAD:
                type: string
              uniteAdmin:
                type: string
              fonctionResp:
                type: string
        unitesRattachement:
          type: object
          properties:
            departements:
              type: array
              items:
                type: object
            facultes:
              type: array
              items:
                type: object
        expertise:
          $ref: '#/components/schemas/Expertise'
        visuelOfficiel:
          type:
          - string
          - 'null'
          format: uri
        visuelOfficielGrand:
          type:
          - string
          - 'null'
          format: uri
    SolrIndividuEnvelope:
      type: object
      properties:
        paginationSOLR:
          $ref: '#/components/schemas/PaginationSolr'
        data:
          type: array
          items:
            $ref: '#/components/schemas/IndividuEtendu'
    Erreur:
      type: object
      description: Error envelope. The API documents 400 and 500 as its only failure codes and returns the message as JSON.
      properties:
        message:
          type: string
  responses:
    ServerError:
      description: Server-side fault in the SADVR API.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Erreur'
    BadRequest:
      description: The request is missing required elements or references values that do not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Erreur'
  parameters:
    solrRows:
      name: rows
      in: query
      required: false
      description: Number of results per page.
      schema:
        type: integer
        minimum: 1
        default: 10
    solrStart:
      name: start
      in: query
      required: false
      description: Zero-based offset of the first result.
      schema:
        type: integer
        minimum: 0
        default: 0
    solrSort:
      name: sort
      in: query
      required: false
      description: SOLR sort clause. Documented as accepted but NOT functional; the institution's own documentation states the SOLR ordering is lost when the API reformats the result set.
      schema:
        type: string
        example: ChercheurNP_tri asc
      deprecated: true
    solrQ:
      name: q
      in: query
      required: true
      description: Native SOLR query. Field names are followed by a colon; spaces are encoded as +. Example, all objects, q=ID:*
      schema:
        type: string
        example: ID:*
externalDocs:
  description: API REST – Description technique (Université de Montréal Confluence wiki)
  url: https://wiki.umontreal.ca/spaces/DOC/pages/294781211/API+REST+%E2%80%93+Description+technique
